.circulo {
    width: 40px;
    height: 40px;
    background-color: #007bff; /* Cor de fundo do círculo */
    color: #fff; /* Cor do texto dentro do círculo */
    border-radius: 50%; /* Deixa o elemento circular */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 10px; /* Espaçamento à direita */
}

.info {
    flex-grow: 1; /* Faz o elemento ocupar todo o espaço disponível */
}

.opcoes {
    font-size: 24px;
    color: #007bff; /* Cor do ícone */
    cursor: pointer; /* Muda o cursor ao passar por cima */
}

.opcoes:hover {
    color: #0056b3; /* Cor do ícone ao passar o mouse */
}

.agenda-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Linha divisória entre os itens */
    padding: 10px 0; /* Espaçamento interno superior e inferior */
    margin: 50px 120px 0px 50px;
}